* {
  font-family: 'Poppins', sans-serif;

}


a:link { 
  text-decoration: none;
  color:white;
}

a:hover {
  color:#BD9675;
}

a {
  color:#F1E2D2;
}


ul {
  list-style-type: none;
  padding: 0rem;
  margin: 0rem;
  text-align: center;

}




h1,h2,h3{
  color:#F1E2D2;
  margin: 0rem;
  font-weight: bold;
}

p {
  max-width: 600px;
  font-size:1rem;
  margin-top:1rem;
  color:#F1E2D2;
  margin: 0rem;

}

.resumeButton {
  background-color: #A37474;
    border:2px solid #F1E2D2; 
    font-size: 0.9rem;
    color:#F1E2D2;
  }

  .resumeButton:hover {
    background-color: #BD9675;
  }
 
 .projectCard {

  border:2px solid #8F6565; 
  padding:1rem;
  color:#F1E2D2;
  text-align: center;
  width:20rem ;
  display:flex;
  gap:10px;
  flex-direction: column;
  margin:1.5rem auto;
  }

  .projectCard:hover {
    box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2);
  }

  .mySkills {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    color: #F1E2D2;
    
   
  }
 

.items { 
  padding:1rem;
  
}

.items:hover {
  background-color: #805B5B;
}

.contact-button {
 
  border:2px solid #805B5B;
  color:#F1E2D2;
}

.contact-button:hover {
  background-color:#805B5B;
  border:2px solid #805B5B;
}

.change-button {
  border:2px solid #805B5B;
}

.change-button:hover {
  background-color:#805B5B;
  border:2px solid #805B5B;
}

.btn-primary {
  --bs-btn-color: #F1E2D2;
  --bs-btn-bg: #805B5B;
  --bs-btn-border-color: #805B5B;
  --bs-btn-hover-color: #BD9675;
  --bs-btn-hover-bg: #805B5B;
  --bs-btn-hover-border-color:#805B5B;
  --bs-btn-focus-shadow-rgb: 138, 98, 98;
  --bs-btn-active-color: #F1E2D2;
  --bs-btn-active-bg: #805B5B;
  --bs-btn-active-border-color:#805B5B;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #F1E2D2; 
  --bs-btn-disabled-bg: #805B5B;
  --bs-btn-disabled-border-color: #805B5B;
}

.footer {
  margin: 1rem;
  padding-top:1rem;
  font-size: 0.90rem;
  
}



