a:link { 
  text-decoration: none;
  color:white;
}

a:hover {
  color:#BD9675
}

a {
  color:white;
}


ul {
  list-style-type: none;

}


header {
  background-color: #8A6262;
  padding-top:20px;
}

h1{
  color:white;

}